@charset "utf-8";
/*=================
EXTERNAL FONT ADDED
===================*/

@font-face {
    font-family: 'elmessiri-regular';
    src: url('~assets/fonts/elmessiri-regular.eot');
    src: url('~assets/fonts/elmessiri-regular.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/elmessiri-regular.svg#elmessiri-regular') format('svg'), url('~assets/fonts/elmessiri-regular.ttf') format('truetype'), url('~assets/fonts/elmessiri-regular.woff') format('woff'), url('~assets/fonts/elmessiri-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('~assets/fonts/GoogleSans-Regular.eot');
    src: url('~assets/fonts/GoogleSans-Regular.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/GoogleSans-Regular.svg#GoogleSans-Regular') format('svg'), url('~assets/fonts/GoogleSans-Regular.ttf') format('truetype'), url('~assets/fonts/GoogleSans-Regular.woff') format('woff'), url('~assets/fonts/GoogleSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*================
GENERAL CSS STARTS
==================*/

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'GoogleSans-Regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 16px;
    line-height: 1.43;
    color: #818181;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
    word-spacing: 0.002em;
    font-kerning: normal;
}

//Headings and Typography
h1 {
    font-family: 'elmessiri-regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 62px !important;
    line-height: 72px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 0 !important;
}

h2 {
    font-size: 32px !important;
    line-height: 36px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 0 !important;
}

sup {
    font-weight: 400;
    font-size: 70%;
}

.ls-font {
    font-size: 86px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #60ADB3 0%, #407297 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a, a:hover {
    text-decoration: none;
}

@media(max-width:992px) {
    h1 {
        font-size: 34px !important;
        line-height: 34px !important;
    }
    p {
        font-size: 14px;
        line-height: 1.5rem;
    }
}

//Color
.bg-primary {
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
}

.btn-primary {
    color: #fff !important;
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    border-color: transparent !important;
}

.btn-outline-primary {
    color: #A54D8A !important;
    border-color: #A54D8A !important;
}
.btn-outline-primary.rad-btn{
    color: #A54D8A !important;
    border-color: #ced4da  !important;
    border-width: 0 0 0 1px !important;
}
.btn-outline-primary.rad-btn:first-child{
    border-width: 0 0 0 0 !important;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):focus {
    background-color: #A54D8A !important;
    box-shadow: 0 0 0 0.2rem #A54D8A !important;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{
    background-color: transparent !important;
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    border-color: #A54D8A !important;
    color: #fff !important;
    box-shadow: 0 0 0 1px #A54D8A !important;
}
.btn-outline-primary:hover {
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    border-color: transparent !important;
    color: #fff !important;
    background-color: transparent !important;
}

.primary-text {
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary:focus {
    box-shadow: none;
}
.text-grey{
    color: #6A6A6A !important;
}
//Border Radius
.rounded-lg {
    border-radius: 15px;
}

//Section CSS
section {
    width: 100%;
    float: left;
}


/*===================
BREADCRUMB CSS STARTS
=====================*/

.breadcrumb{
  justify-content: center !important;
  background-color: transparent !important;
  margin: 0 0 15px 0 !important;
  padding: 0 !important;
}
.breadcrumb-item{
    font-size: 1.2rem;
}
.breadcrumb-item a{
    background: linear-gradient(to bottom, #A54D8A, #614A90);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.breadcrumb-item.active span{
    font-weight: 500;
}
.banner-bg .breadcrumb-item a{
    color: #fff !important;
}
.banner-bg .breadcrumb-item.active span{
    color: #fff;
}
.banner-bg .breadcrumb-item + .breadcrumb-item::before{
    color: #fff;
}
/*=================
BREADCRUMB CSS ENDS
===================*/

/*=======================
HEADER SECTION CSS STARTS
=========================*/
.logo img{
    margin-bottom: -55px;
}
.header-rt a {
    padding: 2.55rem 1.5rem !important;
    float: right;
}
.header-bg .navbar-brand .navbar-toggler {
    border-color: transparent !important;
    outline: none;
}

.navigation ul li a:hover, .navigation ul li .nuxt-link-exact-active {
    color: #614A90!important;
}

@media(max-width:768px) {
    .logo{
        text-align: center;
    }
    .logo img {
        width: 85% !important;
        margin-bottom: -40px !important;
    }
    .navigation {
        background-color: #fff;
        position: absolute;
        top: 50px;
        padding-top: 50px;
        text-align: center;
    }
    .navigation ul li a {
        border-bottom: 1px solid #A54D8A;
    }
    .navigation ul li:last-child a {
        border-bottom: none;
    }
}


/*=====================
HEADER SECTION CSS ENDS
=======================*/


/*=======================
BANNER SECTION CSS STARTS
=========================*/
.banner-bg {
    margin-top: 70px;
}
.banner-bg img {
    height: 550px;
}

.listing-bg {
    width: 100%;
    float: left;
    margin-top: 140px;
    min-height: 300px;
}

.search-bg {
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 995;
}

.listing-bg .search-bg {
    background: rgba(255, 255, 255, .3);
}

.search-bg p {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2rem;
    line-height: 2rem;
    margin-bottom: .5rem;
}

.search-form {
    max-width: 850px;
    border-top-left-radius: .5rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075)!important;
}

.comm-marker {
    width: 30px;
    top: 18px;
    padding-left: 5px;
    left: 10px;
}

.mb-comm-marker {
    left: 5px;
    top: 10px;
}

.form-control, .search-form .form-check-label {
    height: calc(1.5em + 0.75rem + 10px);
    color: #6A6A6A;
}
.comm-list .vs__dropdown-toggle{
    border: 1px solid #ced4da;
}
.comm-list .vs__dropdown-toggle .vs__selected-options .vs__selected{
    position: absolute;
    left:35px;
    z-index: 99;
    top: 7px;
}
.mb-comm-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
}
.comm-list .vs__search{
    padding-left: 30px;
    height: calc(1.5em + 0.75rem + 0px);
    color: #6A6A6A;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;
    margin-left: 25px;
}

.mb-comm-list{
    border: none;
    padding-left: 35px;
}

.search-form .form-group {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.bed-radio-btns .btn-lg,.bed-radio-btns .btn-group-lg .btn{
    padding: 0.5rem .5rem !important;
}
.prop-cat input {
    height: calc(1.5em + 0.75rem + 10px);
    margin: 0;
    opacity: 0;
    z-index: 999;
    cursor: pointer;
}

.prop-cat input+label {
    background-color: #EFEFEF !important;
}

.prop-cat input:checked+label {
    background: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    border: 1px solid #b76da0 !important;
    color: #fff !important;
    font-weight: 400;
}

.prop-cat label {
    height: 38px;
}

.submit-btn {
    top: 0;
    right: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

@media(max-width:992px) {
    .search-bg p {
        font-size: 14px;
        line-height: 1.5rem;
    }
}

@media(max-width:768px) {
    .banner-bg img{
        height: 335px;
    }
    .search-form {
        position: fixed;
        top: 68px;
        left: 0;
        border-radius: 0 !important;
        z-index: 9;
        transform: translateY(-100%);
        transition: .5s all ease-in;
    }
    .search-form.animateForm {
        position: fixed;
        top: 66px;
        left: 0;
        border-radius: 0 !important;
        z-index: 9;
        transition: .5s all ease-out;
        transform: translateY(0);
    }
    .submit-btn {
        width: 100%;
        position: relative !important;
        border-radius: 0.25rem !important;
        padding: 10px 0;
        margin: 8px;
    }
    .mb-comm-list {
        border: 1px solid #dfdfdf !important;
    }
    .listing-bg {
        min-height: 180px;
        margin-top: 90px !important;
    }
    .listing-bg.listing-det-bg {
        margin-top: 80px;
    }
}


/*=====================
BANNER SECTION CSS ENDS
=======================*/


/*======================
SWIPER SLIDER CSS STARTS
========================*/

.communities-bg .swiper-container {
    padding-bottom: 90px !important;
}

.communities-bg .swiper-pagination {
    margin-bottom: -15px;
}

.swiper-slide {
    background-color: transparent;
    min-height: 375px;
}

.swiper-slide img {
    border-radius: 10px;
    height: 350px;
}
.swiper-slide .home-data {
    bottom: 0;
    top: 190px !important;
    width: 90%;
    margin: 0 5%;
}
/*.swiper-slide .home-data .hover-content {
    display: none;
}
.swiper-slide-active {
    margin-top: -45px;
    padding: 0 50px;
    width: 25% !important;
}
.swiper-slide-active img {
    height: 285px !important;
}
.swiper-slide-active .home-data {
    bottom: 0;
    top: 190px !important;
    width: 70%;
    margin: 0 15%;
    transition:.7s all ease-out;
}
.swiper-slide-active .home-data .hover-content {
    display: block !important;
}*/
.swiper-button-prev {
    left: 48% !important;
    margin-left: -2px;
    top: 90% !important;
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    background-size: auto !important;
    width: 40px !important;
    height: 40px !important;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.swiper-button-next {
    right: 48% !important;
    margin-right:-2px;
    top: 90% !important;
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    background-size: auto !important;
    width: 40px !important;
    height: 40px !important;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.swiper-pagination-bullet-active {
    background: #A54D8A !important;
}

.home-data {
    position: absolute;
    bottom: 125px;
    background: #fff;
    left: 0;
    text-align: center;
    overflow: hidden;
    padding: 15px 2%;
    width: 86%;
    margin: 0 5%;
    border-radius: 10px;
    box-shadow: 0rem 0rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075)!important;
}
.home-data h2{
    font-size: 28px !important;
}
.home-data h2, .comm-content h2 {
    font-family: 'elmessiri-regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    background: linear-gradient(to bottom, #60ADB3 0%, #407297 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 !important;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.home-data h3{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.home-data h3, .comm-content h3 {
    color: #000;
    font-size: 1.3rem;
}
.home-data h4{
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.home-data h4 span{
    font-size: 1.3rem;
    font-weight: 600;
}
.home-data h4 svg{
    margin-top: -4px;
}
.home-data h3 span, .comm-content h3 span {
    font-size: 1.6rem;
    font-weight: 600;
}

@media(max-width:768px) {
   /* .swiper-slide-active {
        min-height: 425px;
    }
    .swiper-slide-active .home-data {
        top: 220px !important;
    }*/
    .comm-content h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media(max-width:640px) {
    .communities-bg .swiper-container {
        margin-left: 0;
    }
    .swiper-slide-active {
        width: 100% !important;
    }
    .swiper-slide img{
        width: 100%;
        padding: 0 1%;
    }
    .communities-bg .swiper-pagination {
        margin-bottom: -15px;
    }
    .swiper-button-prev {
        left: 38% !important;
    }
    .swiper-button-next {
        right: 38% !important;
    }
}


/*======================
SWIPER SLIDER CSS STARTS
========================*/


/*========================
CONTENT SECTION CSS STARTS
==========================*/

.communities-list .content-bg {
    max-width: 450px;
    z-index: 99;
    right: 0;
}

.communities-list:nth-child(odd) .content-bg {
    left: 0 !important;
    right: auto !important;
}

.content-bg div .ft-price {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}

.content-bg div .ft-price span {
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 400;
}

.content-bg div span:after {
    content: '';
    width: 60px;
    height: 3px;
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.content-bg h2 {
    font-family: 'elmessiri-regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif!important;
    background: linear-gradient(to bottom, #60ADB3 0%, #407297 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.listing-cont, .listing {
    border-radius: 10px !important;
}

.listing-cont img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.comm-prop-list .listing-cont img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
}
.listing h2 {
    font-family: 'elmessiri-regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    color: #000 !important;
    font-size: 1.8rem !important;
}

.listing h3 {
    font-size: 1.4rem !important;
    background: linear-gradient(to bottom, #60ADB3 0%, #407297 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.listing h3 span{
    font-size: 1.6rem !important;
    font-weight: 700;
}
.listing h3 span sup{
    -webkit-text-fill-color:#407297;
}
.listing .prop-feat span {
    font-size: 20px;
    font-weight: 700;
}

.listing .action-btns {
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.listing-btn{
    background: #fff;
    border: 1px solid #ced4da;
}
.comm-prop-list .listing .action-btns {
    border-bottom-left-radius: 10px;
}
@media(max-width:992px) {
    .content-bg {
        width: 90%;
        margin: 0 auto;
        right: 0;
    }
}

@media(max-width:768px) {
    .listing-cont img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .listing, .listing-cont {
        margin: 0 8px;
    }
    .listing .prop-feat svg {
        width: 25px !important;
        height: 25px !important;
    }
    .listing .prop-feat span {
        font-size: 16px;
    }
    .listing .action-btns {
        position: relative;
        bottom: auto;
        width: auto;
        border-bottom-left-radius: 10px;
    }
}


/*======================
CONTENT SECTION CSS ENDS
========================*/


/*========================
GALLERY SECTION CSS STARTS
=========================*/

.gallery-bg ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.gallery-bg ul li {
    width: 25%;
    float: left;
    position: relative;
    padding: 0 3px;
    min-height: 280px;
    max-height: 280px;
}

.gallery-bg ul li:nth-child(8) .overlay {
    z-index: 99;
    opacity: 1;
}

.gallery-bg ul li:nth-child(8) .overlay svg {
    display: none;
}

.gallery-bg ul li a {
    display: block;
}

.gallery-bg ul li .overlay {
    width: calc(100% - 6px);
    height: calc(100% - 5px);
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    overflow: hidden;
    opacity: 0;
}

.gallery-bg ul li .overlay:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 40%;
    border: 2px solid #fff!important;
    content: '';
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform-origin: 50%;
}

.gallery-bg ul li:hover .overlay:before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -135deg) scale3d(1, 1, 1);
}

.gallery-bg ul li:hover .overlay {
    opacity: 1;
    transition: opacity 0.35s, transform 0.35s;
}

.gallery-bg ul li.fixed-img {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0 3px;
    overflow: hidden;
    width: 25% !important;
    bottom: 24px;
}

.gallery-bg ul li a img {
    width: 100%;
    height: 275px;
}
.light-gallery__modal{
    z-index: 9999 !important;
}
@media(max-width:992px) {
    .gallery-bg ul li {
        width: 33%;
        min-height: 175px;
        max-height: 175px;
        margin: 3px 0;
    }
    .gallery-bg ul li a img {
        width: 100%;
        height: 175px;
    }
    .gallery-bg ul li.fixed-img {
        width: 33% !important;
        bottom: 27px;
        margin-right: 34%;
    }
    .gallery-bg ul li .overlay {
        height: 100%;
    }
}

@media(max-width:767px) {
    .gallery-bg ul li {
        width: 50%;
    }
    .gallery-bg ul li.fixed-img {
        width: 50% !important;
        margin-right: 0;
    }
}


/*======================
GALLERY SECTION CSS ENDS
========================*/


/*===========================
HIGHLIGHTS SECTION CSS STARTS
=============================*/

.box-pt-bg .box-bg {
    padding: 8px 15px;
}

.box-pt-bg .box {
    background-color: #fff;
    min-height: 200px;
    box-shadow: 0rem 0rem 0.5rem .2rem rgba(0, 0, 0, 0.075)!important;
    padding: 16px;
    position: relative;
}

.highlights-bg .box h2 {
    color: #000;
    font-family: "elmessiri-regular", -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    line-height: 1.7rem !important;
    font-size: 24px !important;
    padding-right: 5px;
}

.feature-bg h2,
.add-prop h2,
.comm-search-popup h2{
    font-family: 'elmessiri-regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif!important;
    color: #000;
}

.highlights-bg .box h3, .feature-bg .box h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 400;
}

.highlights-bg .box span, .feature-bg .box span {
    bottom: 10px;
    left: 15px;
}

@media(max-width:992px) {
    .box-pt-bg .box img {
        width: 70%;
    }
}

@media(max-width:767px) {
    .box-pt-bg .box-bg {
        padding: 0px 8px;
    }
    .box-pt-bg .box {
        min-height: 175px;
    }
    .box-pt-bg .box img {
        width: 90%;
    }
    .box-pt-bg .box svg {
        width: 40px;
        height: 40px;
    }
    .highlights-bg .box h2 {
        font-size: 20px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 130px;
    }
    .feature-bg .box h3, .highlights-bg .box h3 {
        font-size: 18px !important;
    }
}


/*=========================
HIGHLIGHTS SECTION CSS ENDS
===========================*/


/*=====================
MAPS SECTION CSS STARTS
=======================*/
.notShow .map-info-bg{
    display: none !important;
}
.notShow .map-info-cond{
    max-width: 100% !important;
    flex: auto !important;
}
.map-info {
    background-color: #fff;
    box-shadow: 0rem 0rem 0.5rem .2rem rgba(0, 0, 0, 0.075)!important;
    padding: 15px !important;
    height: 400px;
}

.map-info h2 {
    font-family: 'elmessiri-regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif!important;
    color: #000;
}

.map-info h2 {
    font-family: 'elmessiri-regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif!important;
    color: #000;
}

.map-info .prop-cat label {
    height: 46px;
}

.map-info .prop-cat label svg {
    padding-right: 5px;
    padding-bottom: 5px;
}

.map-info .school-metro-list {
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0 15px 0 0;
    width: 100%;
    float: left;
    height: 260px;
    overflow-y: scroll;
}

.map-info .school-metro-list li:last-child a {
    border-bottom: 0;
}

.map-info .school-metro-list li a {
    padding-bottom: 0px !important;
}

.map-info .school-metro-list li a svg {
    padding-right: 10px;
}

.map-info .nav-tabs {
    border: none !important;
    margin: 15px 0 0 0;
}

.map-info .nav-tabs .nav-item {
    width: 50%;
    text-align: center;
    margin-bottom: 0;
}

.map-info .nav-tabs .nav-item:first-child .nav-link {
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-color: #dee2e6 #fff #dee2e6 #dee2e6 !important;
    border-width: 1px 0px 1px 1px !important;
}

.map-info .nav-tabs .nav-item:last-child .nav-link {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: #dee2e6 #dee2e6 #dee2e6 #fff !important;
    border-width: 1px 1px 1px 0 !important;
}
.metroShow .map-info .nav-tabs .nav-item,
.schoolShow .map-info .nav-tabs .nav-item{
    width: 100% !important;
}
.metroShow .map-info .nav-tabs .nav-item .nav-link,
.schoolShow .map-info .nav-tabs .nav-item .nav-link{
    border-width: 1px 1px 1px 1px !important;
    border-color: #dee2e6 #dee2e6 #dee2e6 #dee2e6 !important;
    border-top-left-radius:  0.25rem !important;
    border-bottom-left-radius:  0.25rem !important;
}
.map-info .nav-tabs .nav-item .nav-link {
    background-color: #EFEFEF !important;
}

.map-info .nav-tabs .nav-item:first-child .nav-link svg {
    margin: -7px 10px 0 0;
}

.map-info .nav-tabs .nav-item:last-child .nav-link svg {
    margin: -5px 10px 0 0;
}

.map-info .nav-tabs .nav-item .nav-link.active {
    font-weight: 400;
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90)!important;
    color: #fff !important;
}
.map-info .nav-tabs .nav-item .nav-link.active svg{
    fill: #fff;
}
.map-info ul::-webkit-scrollbar {
    width: 2px !important;
}

.map-info ul::-webkit-scrollbar-track {
    width: 2px !important;
    background: #dfdfdf;
}

.map-info ul::-webkit-scrollbar-thumb {
    width: 2px !important;
    background: #614A90 !important;
}

.map-info ul li a {
    display: block;
    border-bottom: 1px solid #dfdfdf;
    width: 100%;
    float: left;
    padding: 10px;
    color: #000;
}

.map-info ul li a:hover {
    color: #fff !important;
    background-image: linear-gradient(to bottom right, #A54D8A, #614A90) !important;
    border-color: transparent !important;
    border-radius: 5px;
}

.map-info ul li a span {
    width: 100%;
    float: left;
    color: #818181;
}

.map-info ul li a:hover span {
    color: #fff;
}

.social-sharing ul {
    list-style: none;
}

.social-sharing ul li a {
    padding: 0 15px;
}

@media(max-width:768px) {
    .map-info {
        height: 100%;
    }
    .social-sharing {
        flex-direction: column !important;
    }
    .social-sharing ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}


/*==================
MAP SECTION CSS ENDS
====================*/


/*========================
CONTENT SECTION CSS STARTS
==========================*/

.overview-bg h2 {
    font-family: 'elmessiri-regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif!important;
    color: #000;
    padding-bottom: 15px!important;
}
.brochure-bg a span{
    padding: 0 20px;
}
@media(max-width:640px){
    .brochure-bg a span{
        padding: 0 15px;
    }
}
/*======================
CONTENT SECTION CSS ENDS
========================*/


/*=====================================
COMMUNITIES LISTINGS SECTION CSS STARTS
=======================================*/
.comm-header-search{
    position: fixed;
    top:36px;
    right: 180px;
    z-index: 9999;
}
.comm-search-popup .close-btn{
    right: 10px;
    top: 10px;
}
.comm-det.listing-bg{
    min-height: 200px !important;
    margin-top: 125px !important;
}
.comm-det-pg .com-det-box {
    background: #fff;
    border-radius: 10px;
    width: 100%;
    float: left;
    box-shadow: 0rem 0rem 0.5rem .2rem rgba(0, 0, 0, 0.075)!important;
}

.comm-det-pg .com-det-box img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.comm-det-pg .com-det-box .comm-content {
    padding: 20px 10px;
}

@media(max-width:767px){
    .comm-det.listing-bg{
        height: 50vh;
        margin-top: 90px !important;
    }
}
/*===================================
COMMUNITIES LISTINGS SECTION CSS ENDS
=====================================*/


/*=======================
FOOTER SECTION CSS STARTS
=========================*/

.footer-bg {
    height: 350px;
    overflow: hidden;
}

.message {
    padding: 26px 0.75rem !important;
}

.copy-bg {
    background: #0E2A69 !important;
}
.enquire-popup .form-control,
.footer-bg .form-control {
    padding: 1.7rem 0.75rem;
    font-size: 600;
    border: 0 solid #ced4da;
    box-shadow: 0 0 5px 2px #ced4da;
    border-radius: 5px;
}
.enquire-popup .form-group,
.footer-bg .form-group {
    position: relative;
}

.form-group.hasError{
    margin-bottom: 1.8rem !important;
}
.enquire-popup .form-group .control-helper,
.footer-bg .form-group .control-helper {
    position: absolute;
    bottom: -25px;
    right: 0;
    font-weight: 400;
    color: #e9222f;
    left: 0;
    text-align: center;
}
.enquire-popup .form-control:focus,
.footer-bg .form-control:focus {
    box-shadow: 0 0 5px 2px #6f8194;
}
.enquire-popup .btn-primary,
.footer-bg .btn-primary {
    padding: 14px 0;
    border-radius: 5px;
}

.footer-bg .form-bg {
    transition: .6s all ease-in;
}

.footer-bg .success-message {
    transform: translateY(25%);
    transition: .6s all ease-in;
}

.footer-bg.show-success .form-bg {
    transform: translateY(-125%);
    transition: .6s all ease-in;
}

.footer-bg.show-success .success-message {
    transform: translateY(-100%);
    transition: .6s all ease-in;
}

@media(max-width:992px) {
    .mob-head {
        margin-bottom: 10px;
    }
}

@media(max-width:767px) {
    .footer-bg.show-success .success-message{
        transform: translateY(-135%) !important;
    }
    .footer-bg {
        height: 650px;
    }
    .footer-bg.show-success {
        text-align: center !important;
        background-position: 0 15%!important;
    }
    .footer-bg .ls-font {
        font-size: 62px;
    }
}


/*=====================
FOOTER SECTION CSS ENDS
=======================*/


/*======================
ENQUIRE POPUP CSS STARTS
========================*/
.close-btn{
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 1.4rem;
    border-radius: 50%;
    padding: 0 0 4px 0;
}
.enquire-popup .close-btn{
    right: -5px;
    top: -5px;
}
.enquire-popup .container{
    height: 655px;
    overflow: hidden;
}
.enquire-popup .success-message{
    margin-top: 30px;
}
.enquire-popup.show-success .enquirePop{
    transform: translateY(-100%);
    transition: .6s all ease-in;
}
.enquire-popup.show-success .success-message{
    transform: translateY(-150%);
    transition: .6s all ease-in;
}
@media(max-width:640px){
    .enquire-popup .success-message .ls-font{
        font-size: 52px;
    }
    .enquire-popup.show-success .success-message{
        transform: translateY(-170%);
    }
}
/*====================
ENQUIRE POPUP CSS ENDS
======================*/

