@charset "utf-8";
/*=================
EXTERNAL FONT ADDED
===================*/

@font-face {
    font-family: 'elmessiri-regular';
    src: url('~assets/fonts/elmessiri-regular.eot');
    src: url('~assets/fonts/elmessiri-regular.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/elmessiri-regular.svg#elmessiri-regular') format('svg'), url('~assets/fonts/elmessiri-regular.ttf') format('truetype'), url('~assets/fonts/elmessiri-regular.woff') format('woff'), url('~assets/fonts/elmessiri-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('~assets/fonts/GoogleSans-Regular.eot');
    src: url('~assets/fonts/GoogleSans-Regular.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/GoogleSans-Regular.svg#GoogleSans-Regular') format('svg'), url('~assets/fonts/GoogleSans-Regular.ttf') format('truetype'), url('~assets/fonts/GoogleSans-Regular.woff') format('woff'), url('~assets/fonts/GoogleSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*================
GENERAL CSS STARTS
==================*/

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'GoogleSans-Regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 16px;
    line-height: 1.43;
    color: #818181;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
    word-spacing: 0.002em;
    font-kerning: normal;
}
.logo img{
    max-width:155px;
    margin-left: 2px;
}
.header-search .search-field {
    width: 94%;
    margin: 10px 3% 10px 3%;
}

