@charset "utf-8";
/*=================
EXTERNAL FONT ADDED
===================*/

@font-face {
    font-family: 'elmessiri-regular';
    src: url('~assets/fonts/elmessiri-regular.eot');
    src: url('~assets/fonts/elmessiri-regular.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/elmessiri-regular.svg#elmessiri-regular') format('svg'), url('~assets/fonts/elmessiri-regular.ttf') format('truetype'), url('~assets/fonts/elmessiri-regular.woff') format('woff'), url('~assets/fonts/elmessiri-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('~assets/fonts/GoogleSans-Regular.eot');
    src: url('~assets/fonts/GoogleSans-Regular.eot?#iefix') format('embedded-opentype'), url('~assets/fonts/GoogleSans-Regular.svg#GoogleSans-Regular') format('svg'), url('~assets/fonts/GoogleSans-Regular.ttf') format('truetype'), url('~assets/fonts/GoogleSans-Regular.woff') format('woff'), url('~assets/fonts/GoogleSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*================
GENERAL CSS STARTS
==================*/

body {
    font-family: 'GoogleSans-Regular', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    font-size: 16px;
    line-height: 1.43;
    color: #818181;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.02em;
    word-spacing: 0.002em;
    font-kerning: normal;
}
.active-color{
  color:#e9222f !important;
}
.green-color{
    color:#26af36 !important;
}

/*=============
HOME CSS STARTS
===============*/
.logo img{
    margin: 4px;
}
.home-search .home-search-field{
    width: 94%;
    margin: 15px 3%;
}
.home-list{
    background-color: transparent !important;
}
.home-list .list-item{
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
    background: #fff;
}
.home-list .thumbnail{
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 2px #e0e0e0;
    border-radius: 50%;
    margin: 13px 10px 0 0;
    padding: 0;
    min-width: 45px;
    min-height: 45px;
}
.home-list .list-item__title{
    font-weight: 600;
}
.home-list .list-item__subtitle{
    color: #ad8f8f;
    opacity: 1;
}
/*======================
FORM CHECKBOX CSS STARTS
========================*/
.form-checkbox{
    width: 42%;
    float: left;
    text-align: center;
    padding: 15px 0;
    background: #fff;
    border-style: solid;
    border-width: 1px .5px 1px 1px;
    border-color: red;
    margin: 10px 0 10px 15px;
}
.form-status-checkbox{
    width: 26.5%;
    float: left;
    text-align: center;
    padding: 15px 0;
    margin: 10px 0 0 15px;
    background: #fff;
    border-style: solid;
    border-width: 1px .5px 1px 1px;
    border-color: red;
}

/*================
Gallery CSS Starts
==================*/
.listing-bg{
    padding: 0 !important;
    margin-bottom: 15px !important;
}
.listing-bg .content .title,
.listing-bg .content .highlts{
    padding:0  16px !important;
}
.listing-bg .content .title h3 {
    color: #2CA2AF;
    font-weight: 600;
    font-size: 1.6rem;
    margin:5px 0 0 0;
}
.listing-bg .content .title h3 sup {
    font-size: 65%;
}
.listing-bg .content .title h4{
    color: #000;
    font-weight: 600;
    margin:0;
}
.listing-bg .content .title p{
    font-size: 1.1rem;
    margin:0;
}

.listing-bg .highlts div{
    padding: 10px 6px 0 6px;
    color: #000;
    font-size: 1rem;
    display: inline-block;
}
.listing-bg .highlts div .fa{
    padding-right: 2px;
    color: rgba(0, 0, 0, .54);
}
.listing-bg .call-to-actions-btns{
    margin-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, .15);
}
.listing-bg .call-to-actions-btns .button {
    display: inline-block;
    background: transparent;
    color: #000;
    box-shadow: none;
    width: 32%;
    border-right: 1px solid #e0e0e0;
    border-radius: 0;
    padding: 5px 0;
}
.listing-bg .call-to-actions-btns .button:last-child {
    border-right: 0px solid #e0e0e0;
}
.listing-bg .call-to-actions-btns .button .ons-icon{
    padding-right: 5px;
    font-size: medium;
}
/*===============
FOOTER CSS STARTS
=================*/
.footer-tab .tabbar--material{
    background-color: #e0e0e0;
    box-shadow:0 0 5px 1px rgba(0, 0, 0, .3) !important;
}
.footer-tab .tabbar--material .tabbar__icon .fa-home{
    color: #303030;
}
.footer-tab .tabbar--material .tabbar__icon .fa-search{
    color:#e9222f !important;
}
.footer-tab .tabbar--material .tabbar__icon .fa-whatsapp{
    color:#26af36 !important;
}